html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    font-family: 'helvetica neue', sans-serif;

}


header nav {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;   
}
 header nav a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 18px;
    transition: all 0.3s ease;
}

header nav a:hover {
    font-style: italic;
    color: rgb(170, 0, 0);

}

h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 28px;
}
p {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: #333;
}

main {
    padding: 50px;
}

.imagenprincipal{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.imagenprincipal img{
    width: 70%;
    max-width: 700px;
    height: auto;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;;
    padding-top: 100px;
    text-align: center;
}
.galeria{
    width: 80%;
    max-width: 900px;
    margin: 40px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img{
    width: 100%;
    height: auto;

    transition: transform 0.3s ease;
}

.galeria img:hover{
    transform: scale(1.05);
}

.yochikita {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.yochikita img {
   max-width: 250px;
    height: auto;
}
.proyectos {
    padding: 20px 20px;
}
.proyectos h2 {
    padding-top: 100px;
    text-align: center;
}
.galeriaproyectos {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.galeriaproyectos a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease;
}

h3{
    font-weight: 100;
}
h3:hover {
    color: rgb(170, 0, 0);

}

.galeriaproyectos img {
    width: 100%;
    height: auto;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.1);
    transition: 1s;

}

.galeriaproyectos img:hover{
    transform: scale(1.05)    
}


.contacto {
    padding: 20px 20px;
}
.contacto h2 {
    padding-top: 100px;
    text-align: center;
}
.contacto p {
    text-align: center;
    font-size: 18px;
}
.contacto a {
    color: rgb(170, 0, 0);
    text-decoration: none;
    transition: 1s;
}
.contacto a:hover {
    color: rgb(68, 0, 0);
}

.arriba{
    font-size: 24px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;    
}

.arriba:hover{
    color: rgb(170, 0, 0);
    background-color: rgb(21, 21, 21);
}

footer {
    background-color: black;
    padding: 20px 0;
    margin-top: 40px;
    
}
footer p {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}

@media (max-width:767px){
    h1{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }
    .yochikita img{
        max-width: 150px;
    }
    .galeriaproyectos img{
        max-width: 45%;
    }
    .imagenprincipal img{
        width: 90%;
    }
}

@media (min-width:768px){
    h1{
        font-size: 40px;
    }
       .galeriaproyectos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeriaproyectos a{
        width: 45%;
    }

    .galeria img{
        width: calc(50% - 20px);
    }
}

@media (min-width: 1024px) {
    h1{
        font-size: 60px;
    }
    .galeriaproyectos a{
            width: 20%;
    }
    .galeria{
        flex-wrap: nowrap;
    }
    .galeria img{
        width: 20%;
    }
}