body {
    margin: 0;
    font-family: 'helvetica neue', sans-serif;
}

header nav {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;   
}
 header nav a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 18px;
    transition: all 0.3s ease;
}

header nav a:hover {
    font-style: italic;
    color: rgb(170, 0, 0);

}

h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 28px;
}
p {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: #333;
}

main {
    padding: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;;
    padding-top: 100px;
    text-align: center;
}

.yochikita {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.yochikita img {
   max-width: 250px;
    height: auto;
}
.proyectos {
    padding: 20px 20px;
}
.proyectos h2 {
    padding-top: 100px;
    text-align: center;
}
.galeriaproyectos {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.galeriaproyectos a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease;
}
h3:hover {
    color: rgb(170, 0, 0);

}

.galeriaproyectos img {
    width: 100%;
    height: auto;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.1);
}
.contacto {
    padding: 20px 20px;
}
.contacto h2 {
    padding-top: 100px;
    text-align: center;
}
.contacto p {
    text-align: center;
    font-size: 18px;
}
.contacto a {
    color: rgb(170, 0, 0);
    text-decoration: none;
    transition: all 1s ease;
}
.contacto a:hover {
    color: rgb(68, 0, 0);
}

footer {
    background-color: black;
    padding: 20px 0;
    margin-top: 40px;
}
footer p {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
}

@media (min-width:768px){
    .galeriaproyectos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .galeriaproyectos a{
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .galeriaproyectos a{
            width: 20%;
    }
    
}